@model MyCarForSale.Core.DTOs.UserAccountEntityDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="w-full m-auto">
    <div class="w-full min-h-[85vh] flex flex-wrap justify-center items-center p-2">
        <div class="overflow-hidden flex justify-center p-20 bg-blue-100 rounded-xl">
            <form method="post" class="flex flex-col justify-between">
                <span class="flex flex-row justify-center  mb-10 font-bold text-xl">Sign In</span>
                
                @if (TempData["Error401"] != null)
                {
                    <span class="inline-block text-center align-middle bg-red-600 text-white rounded-2xl mb-6 p-1 font-semibold">@TempData["Error401"]</span>
                }
                <span asp-validation-for="Email" class="flex flex-row font-semibold text-red-600"></span>
                <div class="flex flex-row justify-items-center bg-white rounded-2xl mb-6 h-12 w-80">
                    <svg class="flex flex-col justify-between m-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="25" height="25">
                        <path d="M2.5371094 6L13.810547 16.521484C14.477547 17.145484 15.523453 17.145484 16.189453 16.521484L27.462891 6L2.5371094 6 z M 1 7.3007812L1 24L29 24L29 7.3007812L17.554688 17.982422C16.837688 18.651422 15.919 18.986328 15 18.986328C14.081 18.986328 13.162312 18.651422 12.445312 17.982422L1 7.3007812 z" fill="#646464"/>
                    </svg>
                    <input type="email" asp-for="Email" class="flex flex-col justify-between mx-3 py-3 border-2 border-white focus:outline-0 w-full" placeholder="Email"/>
                </div>
                <span asp-validation-for="Password" class="flex flex-row font-semibold text-red-600"></span>
                <div class="flex flex-row justify-items-center bg-white rounded-2xl mb-6 h-12">
                    <svg class="flex flex-col justify-between m-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="25" height="25">
                        <path d="M13 0C10.320313 0 8.195313 0.832031 6.84375 2.34375C5.492188 3.855469 5 5.839844 5 7.90625L5 9L8 9L8 7.90625C8 6.3125 8.359375 5.128906 9.0625 4.34375C9.765625 3.558594 10.898438 3 13 3C15.105469 3 16.238281 3.535156 16.9375 4.3125C17.636719 5.089844 18 6.296875 18 7.90625L18 9L21 9L21 7.90625C21 5.828125 20.511719 3.820313 19.15625 2.3125C17.800781 0.804688 15.675781 0 13 0 Z M 5 10C3.34375 10 2 11.34375 2 13L2 23C2 24.65625 3.34375 26 5 26L21 26C22.65625 26 24 24.65625 24 23L24 13C24 11.34375 22.65625 10 21 10 Z M 7 16C8.105469 16 9 16.894531 9 18C9 19.105469 8.105469 20 7 20C5.894531 20 5 19.105469 5 18C5 16.894531 5.894531 16 7 16 Z M 13 16C14.105469 16 15 16.894531 15 18C15 19.105469 14.105469 20 13 20C11.894531 20 11 19.105469 11 18C11 16.894531 11.894531 16 13 16 Z M 19 16C20.105469 16 21 16.894531 21 18C21 19.105469 20.105469 20 19 20C17.894531 20 17 19.105469 17 18C17 16.894531 17.894531 16 19 16Z" fill="#646464"/>
                    </svg>
                    <input type="password" asp-for="Password" class="flex flex-col justify-between mx-3 py-3 border-2 border-white focus:outline-0 w-full" placeholder="Password"/>
                </div>
                <button type="submit" asp-controller="User" asp-action="LoginAccount" class="flex flex-row bg-blue-600 justify-center p-2 rounded-3xl text-white text-lg font-semibold uppercase hover:bg-blue-400 duration-300 shadow-xl">Login</button>
                <div class="text-black text-sm mt-6">
                    Not registered?
                    <a asp-controller="User" asp-action="RegisterAccountPage" class="text-white bg-black p-1 rounded-3xl hover:bg-gray-500 duration-300"> Create an account</a>
                </div>
            </form>
            <div class="flex flex-col justify-between my-3 mx-6">
                <span class="self-center border-[1px] w-0 border-solid border-black h-full"></span>
                <span class="flex flex-row justify-center m-auto font-semibold uppercase">Or</span>
                <span class="self-center border-[1px] w-0 border-solid border-black h-full"></span>
            </div>
            <div class="flex flex-col justify-center">
                <button class="flex flex-row items-center bg-white rounded-2xl p-4 shadow-xl transition duration-400 ease-linear hover:bg-red-300 hover:shadow-2xl">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45" width="30" height="30">
                        <path fill="#fbc02d" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"/><path fill="#e53935" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"/><path fill="#4caf50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"/><path fill="#1565c0" d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"/>
                    </svg>
                    <span class="mx-3">Login with Google</span>
                </button>
            </div>
        </div>
    </div>
</div>
