@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<div class="flex flex-col">
    @foreach (var i in Model)
    {
        <div class="flex flex-row">@i</div>
    }
</div>

