@model MyCarForSale.Core.DTOs.UserAccountEntityDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    var thisYear = DateTime.Now.Year;
    var minYear = 1920;
    var maxYear = thisYear - 18;
}

<div class="w-full m-auto">
    <div class="w-full min-h-[85vh] flex flex-wrap justify-center items-center p-2">
        <div class="overflow-hidden flex justify-center p-20 bg-blue-100 rounded-xl">
            <form method="post" class="flex flex-col justify-between">
                <span class="flex flex-row justify-center  mb-10 font-bold text-xl">Sign Up</span>


                @*<div class="h-12 w-12 bg-red-700 text-white">
                    @foreach (var modelState in ViewData.ModelState.Values)
                    {
                        foreach (var error in modelState.Errors)
                        {
                            <span>@error.ErrorMessage</span>
                        }
                    }
                </div>*@ @*Kayıt sırasında oluşacak hataların hepsini sıralar.*@

                @if (TempData["Error400"] != null)
                {
                    var errorList = TempData["Error400"] as IEnumerable<string>;
                    foreach (var s in errorList!)
                    {
                        <span class="inline-block text-center align-middle bg-red-600 text-white rounded-2xl mb-6 p-1 font-semibold">@s</span>
                    }
                }
                <!-- E-mail -->
                <span asp-validation-for="Email" class="flex flex-row text-red-700 font-semibold mb-1"></span>
                <div class="flex flex-row justify-items-center bg-white rounded-[7px] mb-1 h-12">
                    <svg class="flex flex-col justify-between m-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="25" height="25">
                        <path d="M2.5371094 6L13.810547 16.521484C14.477547 17.145484 15.523453 17.145484 16.189453 16.521484L27.462891 6L2.5371094 6 z M 1 7.3007812L1 24L29 24L29 7.3007812L17.554688 17.982422C16.837688 18.651422 15.919 18.986328 15 18.986328C14.081 18.986328 13.162312 18.651422 12.445312 17.982422L1 7.3007812 z" fill="#646464"/>
                    </svg>
                    <input type="email" asp-for="Email" class="flex flex-col justify-between mx-3  border-2 border-white focus:outline-0 w-full" placeholder="Email"/>
                </div>

                <!-- Password -->
                <span asp-validation-for="Password" class="flex flex-row text-red-700 font-semibold mb-1"></span>
                <div class="flex flex-row justify-items-center bg-white rounded-[7px] mb-1 h-12">
                    <svg class="flex flex-col justify-between m-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="25" height="25">
                        <path d="M13 0C10.320313 0 8.195313 0.832031 6.84375 2.34375C5.492188 3.855469 5 5.839844 5 7.90625L5 9L8 9L8 7.90625C8 6.3125 8.359375 5.128906 9.0625 4.34375C9.765625 3.558594 10.898438 3 13 3C15.105469 3 16.238281 3.535156 16.9375 4.3125C17.636719 5.089844 18 6.296875 18 7.90625L18 9L21 9L21 7.90625C21 5.828125 20.511719 3.820313 19.15625 2.3125C17.800781 0.804688 15.675781 0 13 0 Z M 5 10C3.34375 10 2 11.34375 2 13L2 23C2 24.65625 3.34375 26 5 26L21 26C22.65625 26 24 24.65625 24 23L24 13C24 11.34375 22.65625 10 21 10 Z M 7 16C8.105469 16 9 16.894531 9 18C9 19.105469 8.105469 20 7 20C5.894531 20 5 19.105469 5 18C5 16.894531 5.894531 16 7 16 Z M 13 16C14.105469 16 15 16.894531 15 18C15 19.105469 14.105469 20 13 20C11.894531 20 11 19.105469 11 18C11 16.894531 11.894531 16 13 16 Z M 19 16C20.105469 16 21 16.894531 21 18C21 19.105469 20.105469 20 19 20C17.894531 20 17 19.105469 17 18C17 16.894531 17.894531 16 19 16Z" fill="#646464"/>
                    </svg>
                    <input type="password" asp-for="Password" class="flex flex-col justify-between mx-3  border-2 border-white focus:outline-0 w-full" placeholder="Password"/>
                </div>
                <!--Re-Password-->
                <div class="flex flex-row justify-items-center bg-white rounded-[7px] mb-6 mt-1 h-12">
                    <svg class="flex flex-col justify-between m-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="25" height="25">
                        <path d="M13 0C10.320313 0 8.195313 0.832031 6.84375 2.34375C5.492188 3.855469 5 5.839844 5 7.90625L5 9L8 9L8 7.90625C8 6.3125 8.359375 5.128906 9.0625 4.34375C9.765625 3.558594 10.898438 3 13 3C15.105469 3 16.238281 3.535156 16.9375 4.3125C17.636719 5.089844 18 6.296875 18 7.90625L18 9L21 9L21 7.90625C21 5.828125 20.511719 3.820313 19.15625 2.3125C17.800781 0.804688 15.675781 0 13 0 Z M 5 10C3.34375 10 2 11.34375 2 13L2 23C2 24.65625 3.34375 26 5 26L21 26C22.65625 26 24 24.65625 24 23L24 13C24 11.34375 22.65625 10 21 10 Z M 7 16C8.105469 16 9 16.894531 9 18C9 19.105469 8.105469 20 7 20C5.894531 20 5 19.105469 5 18C5 16.894531 5.894531 16 7 16 Z M 13 16C14.105469 16 15 16.894531 15 18C15 19.105469 14.105469 20 13 20C11.894531 20 11 19.105469 11 18C11 16.894531 11.894531 16 13 16 Z M 19 16C20.105469 16 21 16.894531 21 18C21 19.105469 20.105469 20 19 20C17.894531 20 17 19.105469 17 18C17 16.894531 17.894531 16 19 16Z" fill="#646464"/>
                    </svg>
                    <input type="password" id="userRePassword" name="userRePassword" class="flex flex-col justify-between mx-3  border-2 border-white focus:outline-0 w-full" placeholder="Re-enter password"/>
                </div>

                <!-- Name and Surname -->
                <span asp-validation-for="Surname" class="flex flex-row text-red-700 font-semibold my-1"></span>
                <span asp-validation-for="Name" class="flex flex-row text-red-700 font-semibold my-1"></span>
                <div class="flex flex-row gap-6">
                    <!-- Name -->
                    <div class="relative h-12">
                        <input id="name" type="text" asp-for="Name" class="peer w-full h-full bg-white text-gray-800 font-sans font-semibold outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all focus:border-2 focus:border-t-transparent text-base px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-gray-900" placeholder=""/>
                        <label for="name" class="flex w-full h-full pointer-events-none absolute left-0 font-bold truncate leading-tight peer-focus:leading-tight transition-all -top-1.5 peer-placeholder-shown:text-sm text-[13px] peer-focus:text-[11px] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-gray-800 peer-focus:text-gray-900 before:border-white peer-focus:before:!border-gray-900 after:border-white peer-focus:after:!border-gray-900">Name</label>
                    </div>

                    <!-- Surname -->
                    <div class="relative h-12">
                        <input id="surname" type="text" asp-for="Surname" class="peer w-full h-full bg-white text-gray-800 font-sans font-semibold outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all focus:border-2 focus:border-t-transparent text-base px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-gray-900" placeholder=""/>
                        <label for="surname" class="flex w-full h-full pointer-events-none absolute left-0 font-bold truncate leading-tight peer-focus:leading-tight transition-all -top-1.5 peer-placeholder-shown:text-sm text-[13px] peer-focus:text-[11px] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-gray-800 peer-focus:text-gray-900 before:border-white peer-focus:before:!border-gray-900 after:border-white peer-focus:after:!border-gray-900">Surname</label>
                    </div>
                </div>

                <!-- Country and Birthday-->
                <span asp-validation-for="Birthday" class="flex flex-row text-red-700 font-semibold my-1"></span>
                <div class="flex flex-row gap-6">
                    <!-- Birthday -->
                    <div class="relative h-12">
                        <input id="birthday" min="@minYear-01-01" max="@maxYear-12-31" type="date" asp-for="Birthday" class="peer w-[218px] h-full bg-white text-gray-800 font-sans font-semibold outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all focus:border-2 focus:border-t-transparent text-base px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-gray-900"/>
                        <label for="birthday" class="flex w-full h-full pointer-events-none absolute left-0 font-bold truncate leading-tight peer-focus:leading-tight transition-all -top-1.5 peer-placeholder-shown:text-sm text-[13px] peer-focus:text-[11px] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-gray-800 peer-focus:text-gray-900 before:border-white peer-focus:before:!border-gray-900 after:border-white peer-focus:after:!border-gray-900">Birthday</label>
                    </div>
                </div>
                <!-- Phone Number -->
                <span asp-validation-for="PhoneNumber" class="flex flex-row text-red-700 font-semibold my-1"></span>
                <div class="relative h-12">
                    <input type="text" id="phoneNumber" pattern="[0-9]*" title="Please, only enter numbers" asp-for="PhoneNumber" class="peer w-full h-full bg-white text-gray-800 font-sans font-semibold outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all focus:border-2 focus:border-t-transparent text-base px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-gray-900" placeholder=""/>
                    <label for="phoneNumber" class="flex w-full h-full pointer-events-none absolute left-0 font-bold truncate leading-tight peer-focus:leading-tight transition-all -top-1.5 peer-placeholder-shown:text-sm text-[13px] peer-focus:text-[11px] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-gray-800 peer-focus:text-gray-900 before:border-white peer-focus:before:!border-gray-900 after:border-white peer-focus:after:!border-gray-900">Phone Number</label>
                </div>
                
                <!-- Country -->
                <div class="relative h-12 mt-7">
                    <input id="country" type="text" asp-for="Country" value="Türkiye" disabled class="peer w-full h-full bg-white text-gray-800 font-sans font-semibold outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all focus:border-2 focus:border-t-transparent text-base px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-gray-900 disabled:bg-gray-300" placeholder=""/>
                    <label for="country" class="flex w-full h-full pointer-events-none absolute left-0 font-bold truncate leading-tight peer-focus:leading-tight transition-all -top-1.5 peer-placeholder-shown:text-sm text-[13px] peer-focus:text-[11px] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-gray-800 peer-focus:text-gray-900 before:border-white peer-focus:before:!border-gray-900 after:border-white peer-focus:after:!border-gray-900">Country</label>
                </div>

                <!-- Province and District -->
                <span asp-validation-for="Province" class="flex flex-row text-red-700 font-semibold my-1"></span>
                <span asp-validation-for="District" class="flex flex-row text-red-700 font-semibold my-1"></span>
                <div class="flex flex-row gap-6">
                    <!-- Province -->
                    <div class="relative h-12">
                        <input id="province" type="text" asp-for="Province" class="peer w-full h-full bg-white text-gray-800 font-sans font-semibold outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all focus:border-2 focus:border-t-transparent text-base px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-gray-900" placeholder=""/>
                        <label for="province" class="flex w-full h-full pointer-events-none absolute left-0 font-bold truncate leading-tight peer-focus:leading-tight transition-all -top-1.5 peer-placeholder-shown:text-sm text-[13px] peer-focus:text-[11px] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-gray-800 peer-focus:text-gray-900 before:border-white peer-focus:before:!border-gray-900 after:border-white peer-focus:after:!border-gray-900">Province</label>
                    </div>
                    <!-- District -->
                    <div class="relative h-12">
                        <input type="text" id="district" asp-for="District" class="peer w-full h-full bg-white text-gray-800 font-sans font-semibold outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all focus:border-2 focus:border-t-transparent text-base px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-gray-900" placeholder=""/>
                        <label for="district" class="flex w-full h-full pointer-events-none absolute left-0 font-bold truncate leading-tight peer-focus:leading-tight transition-all -top-1.5 peer-placeholder-shown:text-sm text-[13px] peer-focus:text-[11px] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-gray-800 peer-focus:text-gray-900 before:border-white peer-focus:before:!border-gray-900 after:border-white peer-focus:after:!border-gray-900">District</label>
                    </div>
                </div>

                <!-- Full Address -->
                <span asp-validation-for="FullAddress" class="flex flex-row text-red-700 font-semibold my-1"></span>
                <div class="relative h-24">
                    <textarea id="fullAddress" asp-for="FullAddress" placeholder="" type="text" maxlength="500" oninput="if (value.length > 500) value = value.slice(0,500);" style="resize: none" class="peer w-full h-full bg-white text-gray-800 font-sans font-semibold outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all focus:border-2 focus:border-t-transparent px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-gray-900"></textarea>
                    <label for="fullAddress" class="flex w-full h-full pointer-events-none absolute left-0 font-bold truncate leading-tight peer-focus:leading-tight transition-all -top-1.5 peer-placeholder-shown:text-sm text-[13px] peer-focus:text-[11px] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-gray-800 peer-focus:text-gray-900 before:border-white peer-focus:before:!border-gray-900 after:border-white peer-focus:after:!border-gray-900">Full Address</label>
                </div>

                <!-- Zip Code -->
                <span asp-validation-for="ZipCode" class="flex flex-row text-red-700 font-semibold my-1"></span>
                <div class="relative h-12">
                    <input type="text" pattern="[0-9]*" title="Please, only enter numbers" id="zipCode" asp-for="ZipCode" class="peer w-full h-full bg-white text-gray-800 font-sans font-semibold outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all focus:border-2 focus:border-t-transparent text-base px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-gray-900" placeholder=""/>
                    <label for="zipCode" class="flex w-full h-full pointer-events-none absolute left-0 font-bold truncate leading-tight peer-focus:leading-tight transition-all -top-1.5 peer-placeholder-shown:text-sm text-[13px] peer-focus:text-[11px] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-gray-800 peer-focus:text-gray-900 before:border-white peer-focus:before:!border-gray-900 after:border-white peer-focus:after:!border-gray-900">Zip Code</label>
                </div>

                <!-- Kayıt ol butonu -->
                <button type="submit" asp-controller="User" asp-action="RegisterUser" class="flex flex-row bg-blue-600 justify-center p-2 rounded-3xl text-white text-lg font-semibold uppercase hover:bg-blue-400 duration-300 shadow-xl mt-6">Register</button>
            </form>

            <div class="flex flex-col justify-between my-3 mx-6">
                <span class="self-center border-[1px] w-0 border-solid border-black h-full"></span>
                <span class="flex flex-row justify-center m-auto font-semibold uppercase">Or</span>
                <span class="self-center border-[1px] w-0 border-solid border-black h-full"></span>
            </div>
            <div class="flex flex-col justify-center">
                <button class="flex flex-row items-center bg-white rounded-2xl p-4 shadow-xl transition duration-400 ease-linear hover:bg-red-300 hover:shadow-2xl">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45" width="30" height="30">
                        <path fill="#fbc02d" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"/><path fill="#e53935" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"/><path fill="#4caf50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"/><path fill="#1565c0" d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"/>
                    </svg>
                    <span class="mx-3">Login with Google</span>
                </button>
            </div>
        </div>
    </div>
</div>